* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  font-family: "Macondo", cursive;
}

.container-cards {
  width: 90%;
  margin: 1% auto;
  padding: 1%;
  text-align: center;
  align-items: center;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #fcfffc;
  flex-wrap: wrap;
  font-size: 1.3vw;
}
.container-cards .container-cards__card {
  width: 20em;
  height: 32em;
  border-radius: 10px;
  border: 2px solid rgb(200, 132, 166);
  margin: 1%;
  padding: 1%;
  align-content: center;
  background-color: rgb(197, 225, 236);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
}
.container-cards .container-cards__card img {
  width: 80%;
  max-height: 14em;
}
.container-cards .container-cards__card h2 {
  color: rgb(221, 86, 23);
  margin: 2%;
}
.container-cards .container-cards__card .container-description {
  overflow-y: auto;
  height: 5em;
}
.container-cards .container-cards__card .container-description p {
  margin: 2%;
  text-align: justify;
  margin-top: 5%;
}
.container-cards .container-cards__card p {
  margin: 3%;
  margin-top: 10%;
}
.container-cards .container-cards__card span {
  margin: 1%;
  padding-bottom: 1em;
  padding: 2%;
  border-radius: 8px;
  background-color: rgb(247, 240, 240);
}
.container-cards .container-cards__card button {
  padding: 0.9em;
  margin: 1em 1em;
  width: 14%;
  font-family: "Philosopher", sans-serif;
  font-size: 70%;
  font-weight: bold;
  border: 3px solid rgba(172, 161, 161, 0.596);
  border-radius: 8px;
  color: rgb(221, 86, 23);
  background-color: rgb(240, 245, 175);
  text-align: center;
  cursor: pointer;
  width: 8em;
}
.container-cards .container-cards__card button:hover {
  box-shadow: 2px 1px 12px 3px rgb(240, 245, 175);
}
.container-cards .container-cards__card button:active {
  border: 3px inset rgb(247, 240, 240);
}

.filter-cards {
  width: 90%;
  margin: 1% auto;
  padding: 1%;
  text-align: center;
  align-items: center;
  border-radius: 10px;
  margin-top: 0%;
}
.filter-cards form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.filter-cards form select, .filter-cards .form--create--edit form label, .form--create--edit .filter-cards form label, .filter-cards form option {
  width: 15%;
  padding: 0.6em;
  margin-right: 1%;
  font-family: "Philosopher", sans-serif;
  font-size: large;
}
.filter-cards form option {
  background-color: rgb(240, 245, 175);
}
.filter-cards form #search {
  padding: 0.9em;
  margin: 1em 1em;
  width: 14%;
  font-family: "Philosopher", sans-serif;
  font-size: 70%;
  font-weight: bold;
  border: 3px solid rgba(172, 161, 161, 0.596);
  border-radius: 8px;
  color: rgb(221, 86, 23);
  background-color: rgb(240, 245, 175);
  text-align: center;
  cursor: pointer;
}
.filter-cards form #search:hover {
  box-shadow: 2px 1px 12px 3px rgb(240, 245, 175);
}
.filter-cards form #search:active {
  border: 3px inset rgb(247, 240, 240);
}
.filter-cards form #search:hover {
  box-shadow: 2px 1px 12px 3px rgb(240, 245, 175);
}
.filter-cards form #searchClear {
  padding: 0.9em;
  margin: 1em 1em;
  width: 14%;
  font-family: "Philosopher", sans-serif;
  font-size: 70%;
  font-weight: bold;
  border: 3px solid rgba(172, 161, 161, 0.596);
  border-radius: 8px;
  color: rgb(221, 86, 23);
  background-color: lightpink;
  text-align: center;
  cursor: pointer;
}
.filter-cards form #searchClear:hover {
  box-shadow: 2px 1px 12px 3px lightpink;
}
.filter-cards form #searchClear:active {
  border: 3px inset rgb(247, 240, 240);
}
.filter-cards form #searchClear:hover {
  box-shadow: 2px 1px 12px 3px lightpink;
}

footer {
  width: 100%;
  background-color: rgb(221, 86, 23);
  padding: 1%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  bottom: 0%;
  box-shadow: 5px -10px 20px rgb(240, 245, 175);
}

.form--create--edit {
  width: 70%;
  margin: 1% auto;
  padding: 1%;
  text-align: center;
  align-items: center;
  border-radius: 10px;
  text-align: left;
}
.form--create--edit form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form--create--edit form select, .form--create--edit form label, .form--create--edit form input, .form--create--edit form option {
  padding: 0.5em;
  height: 3em;
  margin: 1%;
}
.form--create--edit form label {
  height: 1em;
}
.form--create--edit form textarea {
  margin: 1%;
}
.form--create--edit form .btnSubmit {
  padding: 0.9em;
  margin: 1em 1em;
  width: 14%;
  font-family: "Philosopher", sans-serif;
  font-size: 70%;
  font-weight: bold;
  border: 3px solid rgba(172, 161, 161, 0.596);
  border-radius: 8px;
  color: rgb(221, 86, 23);
  background-color: rgb(240, 245, 175);
  text-align: center;
  cursor: pointer;
}
.form--create--edit form .btnSubmit:hover {
  box-shadow: 2px 1px 12px 3px rgb(240, 245, 175);
}
.form--create--edit form .btnSubmit:active {
  border: 3px inset rgb(247, 240, 240);
}
.form--create--edit form .btnCancelar {
  padding: 0.9em;
  margin: 1em 1em;
  width: 14%;
  font-family: "Philosopher", sans-serif;
  font-size: 70%;
  font-weight: bold;
  border: 3px solid rgba(172, 161, 161, 0.596);
  border-radius: 8px;
  color: rgb(221, 86, 23);
  background-color: lightpink;
  text-align: center;
  cursor: pointer;
}
.form--create--edit form .btnCancelar:hover {
  box-shadow: 2px 1px 12px 3px lightpink;
}
.form--create--edit form .btnCancelar:active {
  border: 3px inset rgb(247, 240, 240);
}

nav {
  width: 100%;
  background-color: rgb(221, 86, 23);
  padding: 1%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  box-shadow: 5px 10px 20px rgb(240, 245, 175);
  font-family: "Macondo", cursive;
  font-size: large;
}
nav img {
  width: 3em;
}
nav ul {
  list-style: none;
  width: 50%;
}
nav ul li {
  margin-left: 3%;
  display: inline;
}
nav ul a {
  text-decoration: none;
  color: rgb(247, 240, 240);
  padding: 0.9%;
}
nav ul a:hover {
  background-color: rgb(240, 245, 175);
  color: rgb(200, 132, 166);
  border-radius: 8px;
}

body {
  position: relative;
  padding-bottom: 4em;
  min-height: 100vh;
}

.container-cards__details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 50%;
  margin: 1% auto;
  border-radius: 10px;
  border: 2px solid rgb(200, 132, 166);
  padding: 1%;
  align-items: center;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
}
.container-cards__details .div-img {
  max-width: 50%;
}
.container-cards__details .div-details {
  padding: 3%;
  text-align: justify;
}
.container-cards__details .div-details .edit {
  padding: 0.9em;
  margin: 1em 1em;
  width: 14%;
  font-family: "Philosopher", sans-serif;
  font-size: 70%;
  font-weight: bold;
  border: 3px solid rgba(172, 161, 161, 0.596);
  border-radius: 8px;
  color: rgb(221, 86, 23);
  background-color: rgb(135, 223, 135);
  text-align: center;
  cursor: pointer;
  width: 8em;
}
.container-cards__details .div-details .edit:hover {
  box-shadow: 2px 1px 12px 3px rgb(135, 223, 135);
}
.container-cards__details .div-details .edit:active {
  border: 3px inset rgb(247, 240, 240);
}
.container-cards__details .div-details .delete {
  padding: 0.9em;
  margin: 1em 1em;
  width: 14%;
  font-family: "Philosopher", sans-serif;
  font-size: 70%;
  font-weight: bold;
  border: 3px solid rgba(172, 161, 161, 0.596);
  border-radius: 8px;
  color: rgb(221, 86, 23);
  background-color: red;
  text-align: center;
  cursor: pointer;
  color: rgb(240, 245, 175);
  width: 8em;
}
.container-cards__details .div-details .delete:hover {
  box-shadow: 2px 1px 12px 3px red;
}
.container-cards__details .div-details .delete:active {
  border: 3px inset rgb(247, 240, 240);
}
.container-cards__details .div-details .back {
  padding: 0.9em;
  margin: 1em 1em;
  width: 14%;
  font-family: "Philosopher", sans-serif;
  font-size: 70%;
  font-weight: bold;
  border: 3px solid rgba(172, 161, 161, 0.596);
  border-radius: 8px;
  color: rgb(221, 86, 23);
  background-color: rgb(247, 240, 240);
  text-align: center;
  cursor: pointer;
}
.container-cards__details .div-details .back:hover {
  box-shadow: 2px 1px 12px 3px rgb(247, 240, 240);
}
.container-cards__details .div-details .back:active {
  border: 3px inset rgb(247, 240, 240);
}
.container-cards__details .div-details p {
  margin: 2%;
}
.container-cards__details .div-details h2 {
  color: rgb(221, 86, 23);
  text-align: center;
  margin: 2%;
}
.container-cards__details .div-details span {
  border-radius: 8px;
  font-weight: bold;
  color: rgb(200, 132, 166);
}

.container-alerts {
  width: 60%;
}
.container-alerts .alert {
  padding: 2%;
  margin: 1%;
  color: rgb(240, 245, 175);
  background-color: lightpink;
  border-radius: 5px;
}
.container-alerts #eliminarAlert {
  background-color: lightpink;
}
.container-alerts #eliminarAlert #alertCancel {
  padding: 0.9em;
  margin: 1em 1em;
  width: 14%;
  font-family: "Philosopher", sans-serif;
  font-size: 70%;
  font-weight: bold;
  border: 3px solid rgba(172, 161, 161, 0.596);
  border-radius: 8px;
  color: rgb(221, 86, 23);
  background-color: red;
  text-align: center;
  cursor: pointer;
  color: rgb(240, 245, 175);
}
.container-alerts #eliminarAlert #alertCancel:hover {
  box-shadow: 2px 1px 12px 3px red;
}
.container-alerts #eliminarAlert #alertCancel:active {
  border: 3px inset rgb(247, 240, 240);
}
.container-alerts #eliminarAlert #alertConfirm {
  padding: 0.9em;
  margin: 1em 1em;
  width: 14%;
  font-family: "Philosopher", sans-serif;
  font-size: 70%;
  font-weight: bold;
  border: 3px solid rgba(172, 161, 161, 0.596);
  border-radius: 8px;
  color: rgb(221, 86, 23);
  background-color: rgb(135, 223, 135);
  text-align: center;
  cursor: pointer;
}
.container-alerts #eliminarAlert #alertConfirm:hover {
  box-shadow: 2px 1px 12px 3px rgb(135, 223, 135);
}
.container-alerts #eliminarAlert #alertConfirm:active {
  border: 3px inset rgb(247, 240, 240);
}
.container-alerts #editAlert {
  background-color: rgb(135, 223, 135);
}

/*# sourceMappingURL=styles.css.map */
