$primary--color--dark: rgb(67, 10, 223);
$secondary--color--dark: rgb(26, 10, 75);
$primary--color--light: rgb(145, 129, 190);
$secondary--color--light: rgb(115, 190, 219);
$neutral--color: rgb(247, 240, 240);
$danger--color: red;
$danger--color--light: lightpink;
$correct--color: rgb(7, 167, 7);
$correct--color--light: rgb(135, 223, 135);