$primary--color--dark: rgb(221, 86, 23);
$secondary--color--dark: rgb(200, 132, 166);
$primary--color--light: rgb(240, 245, 175);
$secondary--color--light: rgb(197, 225, 236);
$neutral--color: rgb(247, 240, 240);
$danger--color: red;
$danger--color--light: lightpink;
$correct--color: rgb(7, 167, 7);
$correct--color--light: rgb(135, 223, 135);