nav{
    @include format_nav();
    @include flex_box($direction: row, $align: left);
    align-items: center;
    box-shadow: 5px 10px 20px $primary--color--light;
    
    font-size: large;
    img{
        width: 3em;
    }
    ul{
        list-style: none;
        width: 80%;
        li{
            margin-left: 3%;
            display: inline;
        }
        a{
            text-decoration: none;
            color: $neutral--color;
            padding: 0.9%;
            &:hover{
            background-color: $primary--color--light;
            color: $secondary--color--dark;
            border-radius: 8px;
            }
        }
        
        
    }
}