.container-cards{
    @include format_box();
    @include flex_box($direction: row, $align: space-around);
    background-color: $neutral--color;
    flex-wrap: wrap;
    //font-size: 1.3vw;
    .container-cards__card{
        @include flex_box($direction: column);
        align-items: center;
        align-content: space-around;
        width: 20rem;
        height: 32rem;
        border-radius: 10px;
        border: 2px solid $secondary--color--dark;
        margin: 2%;
        padding: 1%;
        align-content: center;
        background-color: $secondary--color--light;
        box-shadow: 0px 0px 10px 1px ;
        
        img{
            width: 80%;
            max-height: 12em;
        }
        h2{
            color: $primary--color--dark;
            margin: 2%;
        }
        .container-description{
            overflow-y: auto;
            max-height: 5em;
            p{
            margin: 2%;
            text-align: justify;
            margin-top: 3%;
            }
        }
        p{
            margin: 3%;
            margin-top: 10%;
        }
        span{
            margin: 1%;
            padding-bottom: 1em;
            display: inline-block;
            padding: 2%;
            border-radius: 8px;
            background-color: $neutral--color;
        }
        button{
            @include button($color: $primary--color--light);
            width: 8em;
        }
    }
}