.filter-cards{
    @include format_box($width: 98%);
    margin-top: 0%;
    
    form{
        @include flex_box();
        align-items: center;
        select, option{
            width: 15em;
            padding: 0.6em;
            margin-right: 1%;
            font-family: 'Philosopher', sans-serif;
            font-size: 1em;
            &:focus{
                border-color: $correct--color--light;
            }
        }
        @media (max-width: 776px){
            flex-direction: column;;
            width: 90%;
            margin: 1% auto;
            select{
                margin-bottom: 2%;
            }
            div{ width: 90%;
                display: inline;
            }
        }
        option{
            background-color: $primary--color--light;
        }
        #search{
            @include button($color: $primary--color--light);
            &:hover{
                box-shadow: 2px 1px 12px 3px $primary--color--light;
            }
        }
        
        #searchClear{
            @include button($color: $danger--color--light);
            &:hover{
                box-shadow: 2px 1px 12px 3px $danger--color--light;
            }
        }
    }
}