nav{
    @include format_nav();
    @include flex_box($direction: row, $align: left);
    align-items: center;
    img{
        width: 3em;
    }
    ul{
        list-style: none;
        width: 50%;
        li{
            display: inline;
        }
        a{
            text-decoration: none;
            color: $neutral--color;
            padding: 0.9%;
            
        }
        a:hover{
            background-color: $secondary--color--dark;
            border-radius: 8px;
        }
        
    }
}